<!doctype html><html lang="en">
    
    <p>username: </p><p id="username"></p>
    <p>room: </p><p id="room"></p>
    <p>{{test_text}}</p>
    <p>{{roomdata}}</p>
    {% for d in roomdata %}
    <p>{{d.message}}</p>
    {% endfor %}

    <script type="text/javascript">
        var searchURL = window.location.search;
        searchURL = searchURL.substring(1, searchURL.length);
        var username = searchURL.split("&")[0].split("=")[1];
        document.getElementById("username").innerHTML = username;
        var room = searchURL.split("&")[1].split("=")[1];
        document.getElementById("room").innerHTML = room;
    </script>
</html>